# Ignore pycache
**/__pycache__/**

# Ignore any shell files in the
# root. Risk leaking ips and stuff
*.sh

# Also ignore the nginx config file. Gives away details about
# how the site's implemented, not ideal.
adiyio.conf

# Ignore generated wheels and
# zips
adihtml/dist/adihtml-0.1.0-py3-none-any.whl
adihtml/dist/adihtml-0.1.0.tar.gz

# Issue system: derived SQLite cache (rebuild locally)
.issuescache.sqlite
